In [1]:
#assignment 2

In [2]:
Q1. How do you comment code in Python? What are the different types of comments?
ans : we can comment code in python using the symbol #
example # this is my first comment
        code : print("hello world")
        comment the code : # print("hello world")
            
there are three types of comments:
1.single line comment
# List of numbers
numbers = [11, 54, 42, 11]

2. Multi-line comments    
# Hi,my name is gurnoor singh
# currently in 4th year of 
# Btech cse

3.Python docstrings
Example:           

def hello(name): 
    """ This function greets the person passed as a parameter """
    print("Hello, " + name + ". How are you?")
hello('Gurnoor singh')

output : Hello, Gurnoor singh. How are you?

Q2. What are variables in Python? How do you declare and assign values to variables?
ans : Variables are words that are used to store values of any data type.

Syntax for declaring a variable:             
variable_name = data values               
where, variable_name = combination of letters, numbers and an underscore.

Rules to be followed while declaring a Variable name are as:
 1.   A Variable’s name cannot start with a number. Either an alphabet or the underscore character should be used as the first character.
 2.   Variable names are case-sensitive and can include alphanumeric letters as well as the underscore character.
 3.    Variable names cannot contain reserved terms.
 4.The equal to sign ‘=’, followed by the variable’s value, is used to assign variables in Python

Simple declaration and assigning of a value to the Variable
In this type, the data values are directly assigned to the Variables in the declaration statement.
Example:
num = 5
l = [1,2,3,4,5]
str = 'My name is Gurnoor singh'

print(num)
print(l)
print(str)

Output:               
5
[1, 2, 3, 4, 5]
My name is Gurnoor singh

Q3. How do you convert one data type to another in Python?
ans: The process of converting the value of one data type into another type is called Type Conversion.Type conversion is also called type casting
example:
Integer to Float:
input:     
integer_num = 10
float_num = float(integer_num)
print(float_num)

output: 10.0

example:
Float to Integer:
input:
float_num = 20.10
int_num = int(float_num)
print(int_num)

output:20    

Q4. How do you write and execute a Python script from the command line?
ans:there 
1.Use a text editor jupitor to write your Python code.
2.Save the file with a .py extension, like your_script.py.
3.Open the command line or terminal.
4.Navigate to the directory containing your script using cd (change directory) command.
5.Run the script using python your_script.py.




                    
5Q: Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
ans : input:
      my_list=[1,2,3,4,5]
        my_list[1:3]
    
output: [2, 3]
  
Q6. What is a complex number in mathematics, and how is it represented in Python?
ans: complex numbers are combination of real and imaginary part.It is written in the form of "a + bi"
     where 'a' is real part and 'b' is amginary part.
in python, they are represented as:
    2+3j , where 2 is the real part and 3j is the imaginary part.
    
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
ans :The correct way to declare a variable named age and assign the value 25 to it in Python is as follows:
    age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?    
ans: input:
    price=9.99
    type(price)
        
output: float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?
ans: input:
    name = "Gurnoor singh"
    print(name)
    
output:Gurnoor singh 

Q10. Given the string "Hello, World!", extract the substring "World".
ans : input:
    string="hello, world!"
    string[7:12]
output: 'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.
ans :is_student=True #if you are a student
     is_student=False #if you are not a student

SyntaxError: invalid syntax (1696709882.py, line 1)

In [5]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

In [6]:
price=9.99
type(price)

float

In [9]:
string="hello, world!"
string[7:12]

'world'

In [12]:
name = "Gurnoor singh"
print(name)

Gurnoor singh

In [1]:
hello('Gurnoor singh')

NameError: name 'hello' is not defined

In [13]:
def hello(name):
    

 """ This function greets the person passed as a parameter """

    print("Hello, " + name + ". How are you?")

hello('Gurnoor singh')

IndentationError: unexpected indent (463382536.py, line 6)

In [17]:

def hello(name):
    
    """ This function greets the person passed as a parameter """
    print("Hello, " + name + ". How are you?")
hello('Gurnoor singh')

Hello, Gurnoor singh. How are you?

In [18]:
num = 5
l = [1,2,3,4,5]
str = 'My name is Gurnoor singh'

print(num)
print(l)
print(str)

5
[1, 2, 3, 4, 5]
My name is Gurnoor singh

In [25]:
a = 20
 # Converting number to string
s = string(a)
print(s)
print(type(s))

NameError: name 'string' is not defined

In [29]:
a=10
print(string("a"))
type(a)

NameError: name 'string' is not defined

In [32]:
# Python program to demonstrate
# type conversion of number to
# string

a = 10

# Converting number to string
s = str(a)
print(s)
print(type(s))

TypeError: 'str' object is not callable

In [33]:
s= "gurnoor"
type(s)

str

In [40]:
integer_num = 10
float_num = float(integer_num)

In [41]:
print(float_num)

10.0

In [43]:
float_num = 20.10
int_num = int(float_num)
print(int_num)

20